<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="styleSheet">
        <title>編集画面</title>
    </head>
    <body>
        <div class="header-contents">
            <h2>投稿の編集</h2>
        </div>
        <div class="main-contents">
            <form th:method="put" th:action="@{/update/{id}(id=${editContents.id})}" th:object="${editContents}">
                <div class="form-area">
                    <label>投稿内容</label><br>
                    <textarea class="tweet-box" th:field="*{content}" size="200" maxlength="200"></textarea><br>
                <input type="submit" value="更新">
                </div>
            </form>
        </div>
        <div class="footer-contents">
            <form action="/">
                <input type="submit" value="戻る" />
            </form>
        </div>
    </body>
</html>