<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"/>
        </div>
        <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
            <input type="submit" value="削除">
        </form>
        <form th:action="@{/edit/{id}(id=${content.id})}" th:method="post">
            <input type="submit" value="編集">
        </form>
        <div class="comment-area">
            <form method="post" th:action="@{/comment}" th:object="${commentFormModel}">
                <label>コメント入力</label>
                <input type="hidden" value="content.id">
                <textarea class="comment-box" maxlength="200"></textarea><br>
                <input type="submit" value="コメント">
            </form>
        </div>


    </div>
</div>
</body>
</html>
